*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 90%;
  margin: 0 auto;
}

html[data-theme="green"] {
  --primary-color: rgb(15, 144, 170);
  --secondary-color: #FF934F;
  --text-color: #023436;
  --bg-color: #FEFCFB;
  --nav-color: rgba(26, 55, 77, 1);
  --menu-hover: rgb(21, 201, 236);
  --header-box: rgba(245, 245, 245, 0.8);
  --header-bg: url(../assets/header.jpg);
}

html[data-theme="blue"] {
  --header-bg: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/header-blue.jpg);
  --primary-color: rgb(92, 122, 234);
  --text-color: #fff;
  --header-box: rgba(66, 24, 24, 0.8);
  --menu-hover: rgb(41, 65, 153);
  --nav-color: rgb(101, 130, 238);
}

html[data-theme="orange"] {
  --header-bg: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/header-orange.jpg);
  --primary-color: rgb(254, 126, 109);
  --text-color: #fff;
  --header-box: rgba(0, 0, 0, 0.8);
  --menu-hover: rgb(211, 57, 36);
  --nav-color: rgb(218, 115, 102);
}

.header {
  background-image: var(--header-bg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.header .opacity {
  background-color: var(--nav-color) !important;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 5rem;
  background-color: rgba(26, 55, 77, 0);
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.header .nav i {
  color: white;
  font-size: 3rem;
  cursor: pointer;
}

.header .nav #toggle {
  display: none;
}

.header .nav img {
  width: 6rem;
}

.header .nav .switcher {
  width: 8rem;
  height: 20rem;
  position: absolute;
  top: 8rem;
  right: 2.5rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 100;
}

.header .nav .switcher span {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 1rem;
  cursor: pointer;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  outline: 3px solid white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .nav .switcher span:hover {
  width: 3.8rem;
  height: 3.8rem;
}

.header .nav .switcher .color-1 {
  background-color: #0f90aa;
}

.header .nav .switcher .color-2 {
  background-color: #5c7aea;
  top: 7rem;
}

.header .nav .switcher .color-3 {
  background-color: #fe7e6d;
  top: 13rem;
}

.header .nav .switchOpen {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__menu--item:not(:last-child) {
  margin-right: 5rem;
}

.header .nav__menu--item a {
  font-size: 1.8rem;
  color: white;
  position: relative;
  padding: 0.5rem 1.3rem;
}

.header .nav__menu--item a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  background: var(--menu-hover);
  left: 0;
  top: 100%;
  right: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.header .nav__menu--item a:hover::before {
  width: 100%;
}

.header__box {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__box--content {
  text-align: center;
  width: 50%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  position: relative;
  z-index: 1;
  -webkit-animation: headerContent 1.3s forwards ease-in-out;
          animation: headerContent 1.3s forwards ease-in-out;
}

.header__box--content::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: transparent;
  z-index: -1;
  border: 2px solid transparent;
  outline: 8px solid transparent;
  -webkit-animation: headerBox 1.5s 0.8s forwards ease-in-out;
          animation: headerBox 1.5s 0.8s forwards ease-in-out;
}

.header__box--content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

.header__box--content p {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: var(--text-color);
}

@-webkit-keyframes headerBox {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    background-color: var(--header-box);
    border: 2px solid var(--primary-color);
    outline: 8px solid var(--header-box);
  }
}

@keyframes headerBox {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    background-color: var(--header-box);
    border: 2px solid var(--primary-color);
    outline: 8px solid var(--header-box);
  }
}

@-webkit-keyframes headerContent {
  0% {
    -webkit-transform: scale(0) translateY(-100%);
            transform: scale(0) translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translateY(0%);
            transform: scale(1) translateY(0%);
    opacity: 1;
  }
}

@keyframes headerContent {
  0% {
    -webkit-transform: scale(0) translateY(-100%);
            transform: scale(0) translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translateY(0%);
            transform: scale(1) translateY(0%);
    opacity: 1;
  }
}

.skills {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../assets/skills.jpg);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/skills.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(380px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  padding: 10rem 5rem;
}

.skills .skill {
  text-align: center;
  padding: 3rem;
}

.skills .skill i {
  color: var(--primary-color);
  font-size: 5rem;
}

.skills .skill h2 {
  font-size: 2rem;
  margin: 2rem;
  letter-spacing: 0.2rem;
}

.skills .skill p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.skills .skill:nth-child(1), .skills .skill:nth-child(2) {
  border-bottom: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
}

.skills .skill:nth-child(3) {
  border-bottom: 2px solid var(--primary-color);
}

.skills .skill:nth-child(4), .skills .skill:nth-child(5) {
  border-right: 2px solid var(--primary-color);
}

@media (max-width: 786px) {
  .header__box--content {
    width: 80%;
  }
  #toggle {
    display: inline-block !important;
  }
  .nav__menu {
    position: absolute;
    top: 8rem;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #1a374d;
    width: 100%;
    height: 50vh;
    padding: 2rem 5rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .nav__menu li:not(:last-child) {
    margin-bottom: 3rem;
  }
  .open {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  #light,
  #dark {
    display: none;
  }
  .skill:nth-child(1), .skill:nth-child(2), .skill:nth-child(3), .skill:nth-child(4), .skill:nth-child(5) {
    border: none !important;
  }
  .about__content {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
  }
  .about__content p {
    width: 80% !important;
  }
}

@media (max-width: 450px) {
  .header__box--content h1 {
    font-size: 3rem;
  }
  .header__box--content p {
    font-size: 1.4rem;
  }
  .skills {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  height: 90vh;
  background-image: url(../assets/header-blue.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about__content {
  background-color: var(--primary-color);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%);
  text-align: center;
}

.about__content h2 {
  font-size: 3rem;
  border-bottom: 5px solid white;
  padding: 0 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.about__content p {
  font-size: 1.8rem;
  width: 50%;
  margin: 3rem 0;
  letter-spacing: 0.1rem;
}

.about__content button {
  border: none;
  background: none;
  padding: 2rem 4rem;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  border: 2px solid white;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.about__content button::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  background: white;
}

.about__content button:hover::before {
  width: 100%;
}

.about__content button:hover {
  color: black;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (12rem)[9];
      grid-template-rows: repeat(9, 12rem);
  gap: 0.5rem;
  padding: 0.5rem;
  background: var(--primary-color);
}

.gallery .img-1,
.gallery .img-2,
.gallery .img-3,
.gallery .img-4,
.gallery .img-5,
.gallery .img-6,
.gallery .img-7,
.gallery .img-8,
.gallery .img-9,
.gallery .img-10 {
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.gallery .img-1:hover,
.gallery .img-2:hover,
.gallery .img-3:hover,
.gallery .img-4:hover,
.gallery .img-5:hover,
.gallery .img-6:hover,
.gallery .img-7:hover,
.gallery .img-8:hover,
.gallery .img-9:hover,
.gallery .img-10:hover {
  opacity: 0.6;
}

.gallery .img-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  background-attachment: fixed;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  background-image: url(../assets/img7.jpg);
}

.gallery .img-2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  background-image: url(../assets/img1.jpg);
}

.gallery .img-3 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6 / 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  background-image: url(../assets/img2.jpg);
}

.gallery .img-4 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
  background-image: url(../assets/img3.jpg);
}

.gallery .img-5 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6 / 9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3 / 7;
  background-image: url(../assets/img7.jpg);
  background-attachment: fixed;
}

.gallery .img-6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 5;
  grid-row: 5 / 10;
  background-image: url(../assets/img4.jpg);
}

.gallery .img-7 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / 7;
  background-image: url(../assets/header-orange.jpg);
}

.gallery .img-8 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  grid-row: 7 / 10;
  background-image: url(../assets/img5.jpg);
  background-attachment: fixed;
}

.gallery .img-9 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  grid-row: 7 / 10;
  background-image: url(../assets/header-blue.jpg);
}

.projects {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/img6.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img6.jpg);
  background-size: cover;
  background-position: center;
  padding: 5rem;
}

.projects h1 {
  color: white;
  font-size: 8rem;
  text-align: center;
}

.projects__counter {
  margin-top: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5rem;
}

.projects__counter--content {
  text-align: center;
  color: white;
}

.projects__counter--content i {
  font-size: 4.5rem;
  display: block;
}

.projects__counter--content span {
  font-size: 5rem;
  margin: 1rem 0;
  display: inline-block;
  font-weight: bold;
}

.projects__counter--content h3 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}
/*# sourceMappingURL=main.css.map */